.index_row {
  width: 100%;
}

.top_rackets_section_title {
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

.top_rackets_row {
  width: 100%;
  max-width: 1000px;
  margin-top: 25px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.top_rackets_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_categories_div{
  width: 100%;
  margin-top: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.index_categories_list_div{
  width: 100%;
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.index_categories_title_div{
  background-color: #38b6ff;
  width: 100%;
  height: 150px;
}

.index_categories_title{
  color: white;
  font-size: 4.0rem;
  text-align: center;
  line-height: 150px;
}

.index_categories_element_div{
  margin-top: 0px;
}

.index_categories_element_button_div{
  width: 100%;
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.index_categories_element_button{
  width: 200px;
  height: 50px;
  background-color: #38b6ff;
  border-color: #38b6ff;
  margin-bottom: 100px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 35px;
}

.categories_div{
  margin-top: 50px;
}

.category_title{
  text-align: center;
}