.navbar {
  background-color: #38b6ff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #38b6ff;
  background-image: linear-gradient(315deg, #348ec1 0%, #38b6ff 64%);
}

.navbar_brand {
  margin-left: 50px;
}

.navbar_nav {
  margin-right: 50px;
}

.navbar_link {
  color: white !important;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none !important;
  text-decoration: none !important;
  padding: 10px !important;
}

.navbar_link:after {
  content: " ";
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  padding-bottom: 5px;
  border-bottom: 3px solid white !important;
}

.navbar_link:hover:after {
  transform: scaleX(1);
}
