.sidebar_div {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.sidebar_bar_div {
  width: 100%;
  max-width: 250px;
  height: max-content;
  margin-top: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid #cbcaca;
  border-radius: 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sidebar_title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar_link {
  color: #38b6ff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none !important;
  outline: none !important;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar_link:hover {
  color: #38b6ff;
}

.sidebar_link:after {
  color: #38b6ff;
  content: " ";
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  padding-bottom: 5px;
  border-bottom: 3px solid #38b6ff !important;
}

.sidebar_link:hover:after {
  color: #38b6ff;
  transform: scaleX(1);
}
